{% extends "base.html" %} {% block content %}
<h1 class="text-center">Detalle de Mascota</h1>

<main>
  <div class="m-auto p-3" style="max-width: 600px">
    <div class="d-flex flex-wrap justify-content-center gap-3 mb-2">
      <h3 class="m-0 align-self-end">Nombre:</h3>
      <div class="border-bottom border-1 text-center" style="flex-grow: 1">
        <span class="fs-4">{{ pet.name }}</span>
      </div>
    </div>

    <div class="d-flex flex-wrap justify-content-center gap-3 mb-2">
      <h3 class="m-0 align-self-end">Fecha de nacimiento:</h3>
      <div class="border-bottom border-1 text-center" style="flex-grow: 1">
        <span class="fs-4">{{ pet.birth_date }}</span>
      </div>
    </div>

    <div class="d-flex flex-wrap justify-content-center gap-3 mb-2">
      <h3 class="m-0 align-self-end">Raza:</h3>
      <div class="border-bottom border-1 text-center" style="flex-grow: 1">
        <span class="fs-4"> {{ pet.breed.name }} </span>
      </div>
    </div>

    <div class="d-flex flex-wrap justify-content-center gap-3 mb-2">
      <h3 class="m-0 align-self-end text-center">Nombre del propietario:</h3>
      <div class="border-bottom border-1 text-center" style="flex-grow: 1">
        <span class="fs-4"> {{ pet.owner_name }} </span>
      </div>
    </div>

    <div class="d-flex flex-wrap justify-content-center gap-3 mb-2">
      <h3 class="m-0 align-self-end">Dni del propietario:</h3>
      <div class="border-bottom border-1 text-center" style="flex-grow: 1">
        <span class="fs-4"> {{ pet.owner_dni }} </span>
      </div>
    </div>

    <div class="d-flex flex-wrap justify-content-center gap-3 mb-2">
      <h3 class="m-0 align-self-end">Creado hace:</h3>
      <div class="border-bottom border-1 text-center" style="flex-grow: 1">
        <span class="fs-4">
          {{ timeago.format(date=pet.created_at, locale="es").capitalize() }}
        </span>
      </div>
    </div>

    <div class="d-flex flex-wrap justify-content-center gap-3 mb-2">
      <h3 class="m-0 align-self-end">Actualizado hace:</h3>
      <div class="border-bottom border-1 text-center" style="flex-grow: 1">
        <span class="fs-4">
          {{timeago.format(date=pet.updated_at, locale="es").capitalize() if
          pet.updated_at else 'Sin actualizar' }}
        </span>
      </div>
    </div>

    <div
      class="d-flex flex-wrap gap-3 my-3 mx-auto px-3"
      style="max-width: 500px"
    >
      <a
        style="flex-grow: 1"
        class="btn btn-warning"
        href="{{ url_for('pet.update_pet', id=pet.id) }}"
        >Editar</a
      >
      <a style="flex-grow: 1" class="btn btn-danger" data-delete-id="{{pet.id}}"
        >Eliminar</a
      >
    </div>

    <a href="/">⏪ Volver al inicio</a>
  </div>
</main>
{% endblock %} {% block scripts %}
<script src="../../../static/detail_or_updated_pet.js" type="module"></script>
{% endblock %}
