<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello World</title>
  </head>
  <body>
    <h1>Mascotas</h1>

    <form method="GET">
      <select name="owner_dni">
        <option value="">-- Todos ---</option>
        {% for owner in owners %}
        <option value="{{ owner.owner_dni }}" {% if owner.owner_dni == selected_owner %} selected {% endif %}>
          {{ owner.owner_name }}
        </option>
        {% endfor %}
      </select>

      <input type="submit" value="Buscar" />
    </form>

    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %} {% endwith %}

    <br />

    {% for pet in pets %} {{ pet.name }}

    <br />

    {{ pet.owner_dni }}

    <br />

    {{ pet.owner_name }}

    <br />

    {{ pet.birth_date }}

    <br />

    {{ pet.created_at }}

    <br />

    {{ pet.updated_at if pet.updated_at else 'Sin actualizar' }}

    <br />

    {{ pet.breed.name }}

    <br /><br />
    {% endfor %}

    <br />

    <a href="/pet">Registrar Mascota</a>
  </body>
</html>
