{% extends "base.html" %} {% block content %}
<h1 class="text-center">Listado de Mascotas</h1>

<form method="GET" class="m-auto p-3 d-flex justify-content-end flex-wrap gap-3" style="max-width: 600px;">
  <div class="d-flex flex-column" style="flex-grow: 2;">
    <label for="owner_dni">Seleccionar cliente: </label>
    <select id="owner_dni" class="form-select" name="owner_dni">
      <option value="">-- Todos ---</option>
      {% for owner in owners %}
      <option value="{{ owner.owner_dni }}" {% if owner.owner_dni == selected_owner %} selected {% endif %}>{{ owner.owner_name }}</option>
      {% endfor %}
    </select>
  </div>

  <input class="btn btn-primary align-self-end" style="flex-grow: 1;" type="submit" value="Filtrar" />

  <a class="btn btn-success align-self-end" style="flex-grow: 1;" href="/pet">Registrar Mascota</a>

  <a id="btn-add-breed" class="btn btn-light align-self-end" style="flex-grow: 1;">Añadir Raza</a>
</form>

<main>
  <div class="p-3">
    {% with messages =
      get_flashed_messages(with_categories=True) %} {% if messages %} {% for
      category, message in messages %}
      <div
        class="alert alert-{{ 'danger' if category == 'error' else 'success' }} w-100"
        data-message
        role="alert"
      >
        {{ message }}
      </div>
      {% endfor %} {% endif %} {% endwith %}
    <table class="table text-center m-auto" style="max-width: 1000px;">
      <caption>Lisa de Mascotas</caption>
      <thead class="align-middle">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Raza</th>
          <th scope="col">Nombre del propietario</th>
          <th scope="col">Dni del propietario</th>
          <th scope="col">Creado hace</th>
          <th scope="col">Actualizado hace</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody class="table-group-divider align-middle">
        {% if not pets.items %}
          <tr>
            <td class="no-data" colspan="8">No hay datos</td>
          </tr>
        {% else %}
          {% for pet in pets %}
            <tr id="pet-{{ pet.id }}">
              <td data-label="Nombre">{{ pet.name }}</td>
              <td data-label="Fecha de nacimiento">{{ pet.birth_date }}</td>
              <td data-label="Raza">{{ pet.breed.name }}</td>
              <td data-label="Nombre del propietario">{{ pet.owner_name }}</td>
              <td data-label="Dni del propietario">{{ pet.owner_dni }}</td>
              <td data-label="Creado hace">{{ pet.created_at }}</td>
              <td data-label="Actualizado hace">{{ pet.updated_at if pet.updated_at else "Sin Actualizar" }}</td>
              <td data-label="Acciones">
                <div class="d-flex flex-wrap gap-1">
                  <a style="flex-grow: 1;" class="btn btn-primary" href="{{ url_for('pet.detail_pet', id=pet.id) }}" >Más detalles</a>
                  <a style="flex-grow: 1;" class="btn btn-warning" href="{{ url_for('pet.update_pet', id=pet.id) }}" >Editar</a>
                  <a style="flex-grow: 1;" class="btn btn-danger" data-delete-id="{{pet.id}}">Eliminar</a>
                </div>
              </td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
    
    {% if pets.items %}
      <nav>
        <ul class="pagination justify-content-center">
          {% if pets.has_prev %}
              <li class="page-item">
                <a class="page-link" href="{{ url_for('pet.index', page=pets.prev_num, owner_dni=selected_owner) }}">Retroceder</a>
              </li>
          {% else %}
              <li class="page-item disabled">
                <span class="page-link">Retroceder</span>
              </li>
          {% endif %}

          {% for number in pets.iter_pages() %}
              {% if pets.page != number %}
                  <li class="page-item">
                    <a class="page-link"  href="{{ url_for('pet.index', page=number) }}">{{ number }}</a>
                  </li>
              {% else %}
                  <li class="page-item active" aria-current="page">
                    <a class="page-link">{{ number }}</a>
                  </li>
              {% endif %}
          {% endfor %}

          {% if pets.has_next %}
              <li class="page-item">
                <a class="page-link" href="{{ url_for('pet.index', page=pets.next_num, owner_dni=selected_owner) }}">Avanzar</a>
              </li>
          {% else %}
              <li class="page-item disabled">
                <span class="page-link">Avanzar</span>
              </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>
</main>
{% endblock %}

{% block scripts %}
<script src="../../../static/index.js"></script>
{% endblock %}

