<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Actualizar Mascota</h1>

    <form method="POST">
      {{ form.csrf_token }}

      <br />

      {% if form.name.errors %}
      <ul class="errors">
        {% for error in form.name.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>

      {% endif %}

      <br />

      {{ form.name.label }} {{ form.name }}

      <br />

      {{ form.birth_date.label }} {{ form.birth_date }}

      <br />

      {{ form.owner_name.label }} {{ form.owner_name }}

      <br />

      {{ form.owner_dni.label }} {{ form.owner_dni }}

      <br />
      {{ form.breed.label }} {{ form.breed }}

      <br />
      <input type="submit" value="Actualizar" />
    </form>
  </body>
</html>
